.ListeDossiers {
  display: flex;
  list-style: none;
  padding: 10px 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.messageVide {
margin:100px auto;
  list-style: none;
  padding: 10px 20px;
  justify-content: center;
  flex-wrap: wrap;
  background-color: cornflowerblue;
  width: 400px;
  height:  450px;
}